{% extends 'base.html' %}
{% load static %}
{% block title %}
    Gallery
{% endblock title %}
{% load static %}
{% static 'img' as baseurl %}

{% block content %}
    <div class="container-fluid pb-5" style="margin-top: 6rem;">
        <h1 class="text-capitalize text-center pb-5"> Gallery</h1>
        <h2 class="text-capitalize text-center pb-5 gallery">Orphanage Gallery</h2>
        <div class="row text-center">
            {% for img in orphane %}
                <div class="col-md-3 col-sm-6 col-xs-6 mt-5">
                    <div class="card bg-dark">
                        <img class="card-img-top img-fluid" src="{{ img.image.url }}" alt="Card image cap">
                    </div>
                </div>
            {% endfor %}

        </div>
        <h2 class="text-capitalize text-center pb-5 mt-5 gallery">Old age home Gallery</h2>
        <div class="row">

            {% for img in oldAge %}
                <div class="col-md-3 col-sm-6 col-xs-6 mt-5">
                    <div class="card  bg-dark">
                        <img class="card-img-top img-fluid" src="{{ img.image.url }}" alt="Card image cap">
                    </div>
                </div>
            {% endfor %}

        </div>
        <h2 class="text-capitalize text-center pb-5 mt-5 gallery">Academy Gallery</h2>
        <div class="row">

            {% for img in player %}
                <div class="col-md-3 col-sm-6 col-xs-6 mt-5">
                    <div class="card  bg-dark">
                        <img class="card-img-top img-fluid" src="{{ img.image.url }}" alt="Card image cap">
                    </div>
                </div>
            {% endfor %}

        </div>


    </div>
{% endblock content %}