{% extends 'base_admin.html' %}
{% load static %}
{% block title %}
    View Financial Crisis
{% endblock title %}
{% block content %}
<div class="container-fluid pb-5" style="margin-top: 8rem;">
        <h2 class="text-capitalize text-center mt-5">view Student Financial Crisis Record</h2>
        <div class="row text-center justify-content-center" style="margin-top: 6rem;">
            <div class="col-md-12">
                <table class=" table table-hover table-dark text-danger" id="example" style="border-radius: 4px">
                <thead>
                <tr class="text-white">
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Age</th>
                    <th scope="col">School Year</th>
                    <th scope="col">Address</th>
                    <th scope="col">Reason For Apply</th>
                    <th scope="col">Age Range</th>
                    <th scope="col">School Type</th>
                    <th scope="col">Support For</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in sfc %}
                <tr class="text-capitalize">
                    <td>{{ i.first_name }}</td>
                    <td>{{ i.last_name }}</td>
                    <th>{{ i.email }}</th>
                    <td>{{ i.phone }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.school_year }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.reason_for_applying }}</td>
                    <td>{{ i.age_range }}</td>
                    <td>{{ i.school_type }}</td>
                    <td>{{ i.support_for}}</td>
                    <td><a class="btn btn-danger" href="/delete_financial_crisis/{{ i.pk }}" onclick="return confirm('Are you sure Delete')">Delete</a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>

        </div>
        </div>
    </div>

{% endblock content %}